<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/center.css">
    <link rel="stylesheet" href="/stylesheets/posts.css">
    <title></title>
  </head>
  <body>
    <h1>Comments</h1>
    <div class="container">
      <% @posts.each do |post| %>
          <div class="posts">
          <p id="user_post"><%=post.name%></p>
          <p><%=post.content%></p>
        </div>
      <% end %>
    </div>
  </body>
</html>
